.container.setting {
  padding: 16px 0;
}

.cell {
  height: 40px;
}

.cell.Black,
.title.sub.Black {
  color: #FFF;
}

.cell.themes {
  height: auto;
}

.cell.title {
  width: 92vw;
  margin-top: 8px;
  padding-left: 8vw;
  font-size: 21px;
  font-weight: bold;
  border-bottom: 2px solid #EEE;
}

.theme {
  box-sizing: border-box;
  border: 2px solid #FFF;
  width: 43px;
  height: 50px;
  border-radius: 10px;
  margin-right: 12px;
  margin-top: 4px;
  margin-bottom: 4px;

  &.Grey {
    background-color: #F5F5F5;
  }

  &.Blue-Gray {
    background-color: #CFD8DC;
  }

  &.White {
    border: 2px solid #F5F5F5;
    background-color: #FFF;
  }

  &.Black {
    background-color: #000;
  }

  &.Red {
    background-color: #EF5350;
  }

  &.Pink {
    background-color: #F06292;
  }

  &.Purple {
    background-color: #AB47BC;
  }

  &.Teal {
    background-color: #4DB6AC;
  }

  &.Light-Green {
    background-color: #AED581;
  }

  &.Yellow {
    background-color: #FFF176;
  }

  &.Brown {
    background-color: #A1887F;
  }

  &.active {
    border: 2px solid #03A9F4;
  }
}

.cell.sub {
  width: 76vw;
  padding-left: 16vw;
  padding-right: 8vw;
  font-size: 18px;
}

.title.sub {
  -webkit-box-flex: 1;
  flex-grow: 1;
}

.cell.sub>input {
  text-align: right;
}

.cell.sub>input.Black {
  color: #FFF;
}